// Custom styles.
.post {
   margin-top: 0px;
   margin-bottom: 60px;
   padding: 25px;

}

.post-body p a{
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #0000FF;
    border-bottom: none;
    border-bottom: 1px solid #0000FF;
  }
}